<!DOCTYPE html>
<html lang="en">

<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Admin Panel - Edit Teacher</title>
<!-- Link to your custom styles -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js">
</script>
<div th:replace="~{_css.html}"></div>
</head>

<body>
	<div class="container-scroller">
		<!-- Topbar with navigation -->
		<div th:replace="~{_topbar.html}"></div>

		<div class="container-fluid page-body-wrapper">
			<!-- Sidebar for admin links -->
			<div th:replace="~{_settings-panel.html}"></div>
			<div th:replace="~{_sidebar.html}"></div>

			<!-- Main content area -->
			<div class="main-panel">
				<div class="content-wrapper">
					<!-- Page header -->
					<div class="d-flex justify-content-between align-items-center mb-4">
						<h1 class="h3 text-dark">Add New Teacher</h1>
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
							<li class="breadcrumb-item"><a href="/teacherList">Teacher List</a></li>
							<li class="breadcrumb-item active">Edit Teacher</li>
						</ol>
					</div>

					<!-- Faculty form card -->
					<div class="card shadow-sm">
						<div class="card-body">
							<form action="/updateTeacher" method="post"
								enctype="multipart/form-data" th:object="${tModel}">
								<div class="row">
									<div class="col-12">
										<h5 class="form-title" style="margin-bottom: 20px;">
											<span>Basic Details</span>
										</h5>
									</div>


									<div class="col-12 col-sm-4">
										<div class="form-group local-forms">
											<label class="editLabel">Full Name <span
												class="login-danger">*</span></label> <input type="text"
												class="form-control" placeholder="Enter Name"
												th:field="*{fullName}">
										</div>
									</div>


									<div class="col-12 col-sm-4">
										<div class="form-group">
											<div class="form-label">Gender</div>
											<div class="row">
												<div class="col-sm-4">
													<div class="form-check">
														<label class="form-check-label"> <input
															type="radio" class="form-check-input"th:field="*{gender}"
															id="membershipRadios1" value="Male" checked> Male
														</label>
													</div>
												</div>
												<div class="col-sm-4">
													<div class="form-check">
														<label class="form-check-label"> <input
															type="radio" class="form-check-input"th:field="*{gender}"
															id="membershipRadios2" value="Female"> Female
														</label>
													</div>
												</div>
												<div class="col-sm-4">
													<div class="form-check">
														<label class="form-check-label"> <input
															type="radio" class="form-check-input" th:field="*{gender}"
															id="membershipRadios3" value="Other"> Other
														</label>
													</div>
												</div>
											</div>


										</div>
									</div>

									<div class="col-12 col-sm-4">
										<div class="form-group local-forms ">
											<label class="editLabel">Date Of Birth <span
												class="login-danger">*</span></label> <input class="form-control "
												type="date" placeholder="DD-MM-YYYY" th:field="*{dob}">
										</div>
									</div>
									<div class="col-12 col-sm-4">
										<div class="form-group local-forms">
											<label class="editLabel">Mobile <span
												class="login-danger">*</span></label> <input type="text"
												class="form-control" placeholder="Enter Phone"
												th:field="*{mobileNumber}">
										</div>
									</div>
									<div class="col-12 col-sm-4">
										<div class="form-group local-forms ">
											<label class="editLabel">Joining Date <span
												class="login-danger">*</span></label> <input
												class="form-control datetimepicker" type="date"
												placeholder="DD-MM-YYYY" th:field="*{joinDate}">
										</div>
									</div>
									<div class="col-12 col-sm-4 local-forms">
										<div class="form-group">
											<label class="editLabel">Qualification <span
												class="login-danger">*</span></label> <input class="form-control"
												type="text" placeholder="Enter Qualification"
												th:field="*{qualification}">
										</div>
									</div>
									<div class="col-12 col-sm-4">
										<div class="form-group local-forms">
											<label class="editLabel">Experience <span
												class="login-danger">*</span></label> <input class="form-control"
												type="text" placeholder="Enter Experience" th:field="*{experience}">
										</div>
									</div>
									<div class="col-12 col-sm-4">
										<div class="form-group local-forms">
											<label class="editLabel">Faculty <span
												class="login-danger">*</span></label> <select class="form-control"
												th:field="*{faculty}">
												<option th:each="f:${fList}" th:value="${f.id}">[[${f.name}]]</option>
											</select>
										</div>
									</div>
									<div class="col-12 col-sm-4">
										<div class="form-group local-forms">
											<label class="editLabel">Grade <span
												class="login-danger">*</span></label> <select class="form-control"
												th:field="*{grade}" onchange="updateSubjectSelect()"
												id="gradeSelect">
												<option value="">Select Grade</option>
												<option value="11">11</option>
												<option value="12">12</option>
											</select>
										</div>
									</div>
									<div class="col-12 col-sm-4">
										<div class="form-group local-forms">
											<div>
												Section <span class="login-danger">*</span>
											</div>

											<!-- Apply flexbox to make checkboxes appear inline -->
											<div class="form-check-group"
												style="display: flex; flex-direction: row; gap: 10px;">
												<div class="form-check">
													<label class="form-check-label"> <input
														type="checkbox" class="form-check-input" th:field="*{section}"
														value="A"> A
													</label>
												</div>&nbsp;&nbsp;
												<div class="form-check">
													<label class="form-check-label"> <input
														type="checkbox" class="form-check-input" th:field="*{section}"
														value="B"> B
													</label>
												</div>&nbsp;&nbsp;
												<div class="form-check">
													<label class="form-check-label"> <input
														type="checkbox" class="form-check-input" th:field="*{section}"
														value="C"> C
													</label>
												</div>
											</div>
										</div>
									</div>



									<div class="col-12 col-sm-4">
										<div class="form-group local-forms">
											<label class="editLabel">Subject <span
												class="login-danger">*</span></label> <select class="form-control"
												th:field="*{subject}" id="subjectSelect">
										<option th:each="s:${sList}" th:value="${s.id}">[[${s.name}]]</option>
											</select>
										</div>
									</div>

									<div class="col-12 col-sm-4">
										<div class="form-group local-forms">
											<label class="editLabel">Basic Salary <span
												class="login-danger">*</span></label> <input class="form-control"
												type="number" placeholder="Enter Salary" th:field="*{salary}">
										</div>
									</div>
									<div class="col-12 col-sm-4">
										<div class="form-group local-forms">
											<label class="editLabel">Period <span
												class="login-danger">*</span></label> <select class="form-control"
												th:field="*{period}" >
												<option value="1">1</option>
												<option value="2">2</option>
												<option value="3">3</option>
												<option value="4">4</option>
												<option value="5">5</option>
												<option value="6">6</option>
												<option value="7">7</option>
												<option value="8">8</option>
												<option value="9">9</option>
												<option value="10">10</option>

											</select>
										</div>
									</div>




									<div class="col-12 col-sm-4">
										<div class="form-group local-forms">
											<label class="editLabel">Photo <span
												class="login-danger">*</span></label> <input class="form-control"
												type="file" placeholder="Select Photo" name="image">
										</div>
									</div>

									<div class="col-12">
										<h5 class="form-title" style="margin-bottom: 20px;">
											<span>Login Details</span>
										</h5>
									</div>
									<div class="col-12 col-sm-4">
										<div class="form-group local-forms">
											<label class="editLabel">Username <span
												class="login-danger">*</span></label> <input type="text"
												class="form-control" placeholder="Enter Username"
												th:field="*{username}">
										</div>
									</div>
									<div class="col-12 col-sm-4">
										<div class="form-group local-forms">
											<label class="editLabel">Email ID <span
												class="login-danger">*</span></label> <input type="email"
												class="form-control" placeholder="Enter E-mail" th:field="*{email}">
										</div>
									</div>
									<div class="col-12 col-sm-4">
										<div class="form-group local-forms">
											<label class="editLabel">Password <span
												class="login-danger">*</span></label> <input type="text"
												class="form-control" placeholder="Enter Password"
												th:field="*{password}">
										</div>
									</div>

									<div class="col-12">
										<h5 class="form-title">
											<span>Address</span>
										</h5>
									</div>

									<div class="col-12 col-sm-4">
										<div class="form-group local-forms">
											<label class="editLabel">City <span
												class="login-danger">*</span></label> <input type="text"
												class="form-control" placeholder="Enter City"
												th:field="*{address.city}">
										</div>
									</div>
									<div class="col-12 col-sm-4">
										<div class="form-group local-forms">
											<label class="editLabel">State <span
												class="login-danger">*</span></label> <select th:field="*{address.state}"
												class="form-control">
												<option value="">Select</option>
												<option value="Koshi">Koshi</option>
												<option value="Madhesh">Madhesh</option>
												<option value="Bagmati">Bagmati</option>
												<option value="Gandaki">Gandaki</option>
												<option value="Lumbini">Lumbini</option>
												<option value="Karnali">Karnali</option>
												<option value="Sudurpaschim">Sudurpaschim</option>
											</select>
										</div>
									</div>

									<div class="col-12">
										<div class="student-submit">
											<button type="submit" class="btn btn-primary">Submit</button>
										</div>
									<input type="hidden" th:field="*{id}">
									</div>
								</div>
							</form>




						</div>
					</div>

				</div>
				<!-- End of content-wrapper -->

				<!-- Footer -->
				<div th:replace="~{_footer.html}"></div>
			</div>
			<!-- End of main-panel -->
		</div>
		<!-- End of page-body-wrapper -->
	</div>
	<!-- JavaScript and Bootstrap links -->
	<div th:replace="~{_Javascript.html}"></div>
</body>

</html>
